<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <title>Пользователи - Клавиатурный тренажер</title>
</head>
<body>
<table border="0">
    <thead>
    <td>Id</td>
    <td>Login</td>
    <td>Role</td>
    <td>level</td>
    </thead>
    {{#userList}}
        <tbody>
        <td>{{id}}</td>
        <td>{{login}}</td>
        <td>{{role}}</td>
        <td>{{level}}</td>
        </tbody>
    {{/userList}}
</table>

</body>
</html>