<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  type="text/css" href="styles/style.css">
    <title>Клавиатурный тренажер</title>
</head>
<body>
<section class="container">
    <ul class="nav topmenu">
        <li>
            <a href="/trainingParameters">Тренировка</a>
        </li>
        <li>
            <a href="/download">Моя статистика</a>
        </li>
        <li>
            <a href="/userList">Общая статистика</a>
        </li>
        <li>
            <a href="/statistic">Обучение</a>
        </li>
        <li>
            <a href="/index">Выход</a>
        </li>
    </ul>
</section>
<div class="container">
    <nav>
        <ul>


        </ul>
    </nav>
</div>
</body>
</html>